In [2]:
n = 5
n == int (n)

True

In [3]:
'''
value of a even number
'''
n = 5
n%2 == 0

False

In [4]:
'''
Two number the first bigger than the second
'''
n=3
m=4
n > m

False

In [5]:
'''
One value is multiple of another
'''
n= 6
m= 3
m/n == int (m/n) or n/m == int(n/m)

True

In [6]:
'''
Calculate the interest rate earn by an investor that invested a capital of 200 during 3 years with an interest rate of 3%
'''
Capital = 200
Time = 3
Rate = 0.03

Interest = Capital*Time*Rate

print(Interest)

18.0

In [7]:
'''
Capital that an investor obtained after investing a capital of 200 during 3 years with an interest rate of 3%
'''

Capital = 200
Time = 3
Rate = 0.03

Interest = Capital * (1+Rate)**Time

print(Interest)

218.5454

In [8]:
'''
 Calculate your BMI (Body Mass Index)
'''
mass = 60
Height = 1.68

BMI = mass/(Height**2)

print(BMI)

21.258503401360546

In [9]:
'''
Calcule the Golden ration
'''
gr = (1+(5)**(1/2))/2
      
print(gr)

1.618033988749895

In [ ]:
'''
Calcule the Golden ration, library of math
'''
import math
gr=(1+math.sqrt(5))/2

print(gr)

1.618033988749895

In [ ]:
'''
Calculete the NPV (Net present value) of an investment, considering an initial investment of 10000, the following Cashflows
2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.
'''
FV1= 2000
FV2= 3000
FV3= 4000
FV4= 4000
FV5= 5000
k= 0.1
I= 10000

NPV= FV1/(1+k)**1 + FV2/(1+k)**2 + FV3/(1+k)**3 + FV4/(1+k)**4 + FV5/(1+k)**5 - I

print(NPV)

3139.440301519393

In [ ]:
'''
Ask the user to insert name and age. Calculate the the birth. Print a result saying the 'this person was born in'
'''

n = input("Please enter your name ")
m = input("Please enter your age ")
year = 2019

Birth =year - int(m)
print("This person was born in " + str(Birth) )

In [ ]:
'''
Ask the user to insert name and age. Calculate the the birth. Print a result saying the 'this person was born in' Library
'''
from datetime import date
today = date.today()
today.year
age = input("Please enter your age ")
name = input("Enter your name ")
birth = today.year - int(age)
print("This person was born in " + str(birth))

In [ ]:
'''
 Ask the user to insert forenames, surnames. create a new variable (name) with your complete name
'''
forenames = input("Enter your fournames ")
surnames = input("Enter your surnames ")
name= str(forenames) +" "+ str(surnames)
namecapitalized=name.capitalize()
nameTitle=name.title()
nameSmall=name.lower()
NameBig=name.upper()
print(namecapitalized)
print(nameTitle)
print(nameSmall)
print(nameBig)

In [ ]:
random = "vhfeieghjtudrtayhtyda"

str.find(random,"da")